<div>
    <div fxFlex="10%" fxLayoutGap fxLayout="column">
        <mat-card class="card-condicao" *ngFor="let condicao of condicoes">
            <mat-card-content (click)="onSelect(condicao)">{{ condicao.name }}</mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="90%">
        <mat-card class="card-condicao" *ngIf="selectedCondicao">
            <mat-card-title>{{ selectedCondicao.name }} ({{selectedCondicao.type}})</mat-card-title>
            {{selectedCondicao.description}}
        </mat-card>
    </div>
</div>