<div>
    <div fxFlex="20%">
        <mat-list role="list" *ngFor="let condicao of condicoes" class="list-condicao">
            <mat-list-item (click)="onSelect(condicao)" role="listitem" class="item-list-condicao">{{ condicao.name }}</mat-list-item>
        </mat-list>
    </div>
    <div fxFlex="80%">
        <mat-card class="card-condicao" *ngIf="selectedCondicao">
            <mat-card-title>{{ selectedCondicao.name }} ({{selectedCondicao.type}})</mat-card-title>
            {{selectedCondicao.description}}
        </mat-card>
    </div>
</div>