.card-condicao {
    padding: 10px !important;
    margin: 10px !important;
}

.item-list-condicao {
    padding: 0px !important;
    margin: 5px !important;
    content: 0px !important;
}

.list-condicao {
    padding: 0px !important;
    margin: 5px !important;
    content: 0px !important;
}